.App {
  text-align: center;
  padding-top: 20vh;
}

body{
  background-color: #b123231c;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cc_img{
  width: 25vw;
}

.three_random_cards{
  display: flex;
  align-items: center;
  align-self: auto;
  justify-content: center;
  gap:4vw;
}

#navbar{
  /* background-color: #dfca81; */
  background-color: #e83939;
  position: fixed;
  width: 100vw;
  max-height: 5vh;
  top:0;
  left: 0;
}

#page_container{
  position: relative;
  /* height: 100vh; */
}

#content_wrap{

}

#footer{
  bottom:0;
  width:100vw;
  background-color: black;
  color:white;
}

/* #footer::after{
  content: '';
} */

#not_found{
  margin-bottom: 30vh;
}

.crypto_img{
  width: 25vw;
}

.home_page_item{
  width: 25vw;
  height: 70vh;
  border:black solid 1px;
  /* background-color: #69b0b063; */
  background-color: #cba543;
  padding:1%;
  border-radius: 25px;
}

.random_cards_list{
  margin-bottom: 20vh;
}

.random_crypto_list{
  margin-bottom: 10vh;
}

.three_random_cards crypto_img{
  height: 50vh;
  margin-bottom: 5vh;
}

.home_page_button{
  background-color: #0153d5cf !important;
  margin-top: 10px !important;
  color:white !important;
}

.product_list{
  margin-top:10vh;
}

#top_bar{
  background-color: #597cdc5e;
  height: 30vh;
  margin-left: 5vw;
  margin-right: 5vw;
  border-radius:25px;
}

.financial_product{

  /* margin-bottom: 15vh; */
  display: flex;
  gap:5vw;
}

.product_item{
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 15vh;
  /* padding-left: 1vw;
  padding-right: 1vw; */
  padding:2%;
  /* border:solid black 1px; */
  background-color: #e7e082f2;
}

.product_ref{
  /* background-color: yellow !important; */
}

.changeToRed{
  color:red;
}

#comments{
  margin-bottom: 15vh;
}

#addMsg{
  border-radius: 25px;
  background-color: lightgrey;
  /* width: 50vw; */
  padding:1%;
  margin-left: 25vw;
  margin-right: 25vw;
}

.msg{
  border:black solid 1px;
  margin-top: 3vh;
  margin-bottom: 3vh;
  margin-left: 25vw;
  margin-right: 25vw;
  background-color: lightgrey;
  border-radius: 25px;
}
