.App {
  text-align: center;
  padding-top: 10vh;
}

body{
  /* background-color: #b123231c; */
  background-color: #21334d7d;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cc_img{
  width: 25vw;
}

.three_random_cards{
  display: flex;
  align-items: center;
  align-self: auto;
  justify-content: center;
  gap:4vw;
}

#navbar{
  /* background-color: #dfca81; */
  background-color: #dcf0eb;
  position: fixed;
  width: 100vw;
  /* max-height: 5vh; */
  height: 10vh;
  top:0;
  left: 0;
}

#page_container{
  position: relative;
  /* height: 100vh; */
}

#content_wrap{

}

#footer{
  bottom:0;
  width:100vw;
  background-color: black;
  color:white;
  padding-bottom: 3vh;
}

#footer_list *{
  color: white;
  text-decoration: none;
  text-align: left;
}

#footer_list{
  /* width: 30vw;
  margin-right: 60vw; */
  display: flex;
  gap:10vw;
}

/* #footer::after{
  content: '';
} */

#not_found{
  margin-bottom: 30vh;
}

.crypto_img{
  width: 25vw;
}

.home_page_item{
  width: 25vw;
  height: 70vh;
  /* border:black solid 1px; */
  /* background-color: #69b0b063; */
  /* background-color: #cba543; */
  background-color: #f0f4f45c;
  padding:1%;
  border-radius: 25px;
}

.random_cards_list{
  margin-bottom: 20vh;
}

.random_crypto_list{
  margin-bottom: 10vh;
}

.three_random_cards crypto_img{
  height: 50vh;
  margin-bottom: 5vh;
}

.home_page_button{
  margin-top: 5vh;
  border-radius: 5px;
  padding-top:15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border:none;
  outline:none;
  background-color: #265fb8;
}

.home_page_button *{
  text-decoration: none;
  color:white;
  font-size: 1.1em;
}

.product_list{
  margin-top:10vh;
}

#top_bar{
  background-color: #9f571f6e;
  /* height: 20vh; */
  /* margin-left: 5vw;
  margin-right: 5vw; */
  /* border-radius:25px; */
  padding-bottom: 2vh;
  margin-bottom: 5vh;
}

.financial_product{

  /* margin-bottom: 15vh; */
  display: flex;
  gap:5vw;
}

.product_item{
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 15vh;
  /* padding-left: 1vw;
  padding-right: 1vw; */
  padding:2%;
  /* border:solid black 1px; */
  /* background-color: #e7e082f2; */
}

.product_ref *{
  text-decoration: none;
  font-size:1.1em;
  font-weight: bold;
  color:white;
}

.changeToRed{
  color:red;
}

#comments{
  margin-bottom: 15vh;
}

#addMsg{
  border-radius: 25px;
  background-color: #d9e6e8;
  /* width: 50vw; */
  padding:1%;
  margin-left: 25vw;
  margin-right: 25vw;
}

.msg{
  border:black solid 1px;
  margin-top: 3vh;
  margin-bottom: 3vh;
  margin-left: 25vw;
  margin-right: 25vw;
  background-color: lightgrey;
  border-radius: 25px;
}

.msg:nth-of-type(-n+11){
  background-color: #cf6e6e;
}

#msg_body{
   word-wrap: break-word;
   margin-left: 3px;
   margin-right: 3px;
 }

.msg_input{
  outline: none;
  border:none;
  background-color: lightgrey;
  resize: none;
}

.msg_input:focus{
  outline: none;
  /* border-bottom: solid black 1px; */
}

.msg_input:hover{
  background: white;
}

#add_msg_button{
  border-radius: 5px;
  padding-top:5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  border:none;
  outline:none;
  background-color: lightgrey;
}

#add_msg_button:hover{
  background-color: white;
  box-shadow: 10px;
  cursor: pointer;
}

.signup_btn{
  border-radius: 25px;
  padding-top:15px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;
  border: none;
  background-color: #0153d5cf;
}

.signup_btn:hover{
  background-color: #1e4ee9;
  cursor: pointer;
}

#about{
  margin-left: 25vw;
  margin-right: 25vw;
}

.about_par{
  margin-top:10vh;
  margin-bottom: 10vh;
  padding:5vh 5vw 5vh 5vw;
  background-color: white;
  border-radius: 25px;
}

#contact{
  /* height: 60vh; */
  margin-bottom: 20vh;
  margin-left: 25vw;
  margin-right: 25vw;
  background-color: grey;
  padding:5vh 5vw 5vh 5vw;
}

.news_item{
  width: 25vw;
  min-height: 40vh;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  border:1px black solid;
  /* background-color: #b3d4fc; */
  background-color: rgba(53, 53, 53, 0.47);
}

.news_button{
  border:none;
  background-color: inherit;
  min-height: 30vh;
  width:100%;
  background-image: url('https://media.istockphoto.com/photos/coins-of-various-cryptocurrencies-picture-id1034363382?k=20&m=1034363382&s=612x612&w=0&h=sCpRmOSicsJJS73_iNQh16nqeBgFKqU3jjfC4u42D_k=');
}

#crypto_news{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap:wrap;
}

.news_title{
  color:white;
  margin: 5px;
}

.nav_item{
  border: none;
  width:15vw;
  height: 10vh;
  margin-left: 0vw;
  margin-right: 0vw;
}

#navbar_two{
  width: 100vw;
  background-color: #dabf99;
}
