.App {
  text-align: center;
  margin-top: 20vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cc_img{
  max-width: 25vw;
}

#three_random_cards{
  display: flex;
  align-items: center;
  align-self: auto;
  justify-content: center;
  gap:4vw;
}

#navbar{
  background-color: #dfca81;
  position: fixed;
  width: 100vw;
  max-height: 5vh;
  top:0;
  left: 0;
}
#navbar::after{
  content: '';
}
